<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corn.vsound.dao.mapper.CodeOutSideUrlMapper" >
  <resultMap id="BaseResultMap" type="com.corn.vsound.dao.entity.CodeOutSideUrl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url_id" property="urlId" jdbcType="VARCHAR" />
    <result column="url_remark" property="urlRemark" jdbcType="VARCHAR" />
    <result column="url_path" property="urlPath" jdbcType="VARCHAR" />
    <result column="from_code_id" property="fromCodeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url_id, url_remark, url_path, from_code_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from code_out_side_url
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from code_out_side_url
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corn.vsound.dao.entity.CodeOutSideUrl" >
    insert into code_out_side_url (id, url_id, url_remark, 
      url_path, from_code_id)
    values (#{id,jdbcType=INTEGER}, #{urlId,jdbcType=VARCHAR}, #{urlRemark,jdbcType=VARCHAR}, 
      #{urlPath,jdbcType=VARCHAR}, #{fromCodeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corn.vsound.dao.entity.CodeOutSideUrl" >
    insert into code_out_side_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="urlId != null" >
        url_id,
      </if>
      <if test="urlRemark != null" >
        url_remark,
      </if>
      <if test="urlPath != null" >
        url_path,
      </if>
      <if test="fromCodeId != null" >
        from_code_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="urlId != null" >
        #{urlId,jdbcType=VARCHAR},
      </if>
      <if test="urlRemark != null" >
        #{urlRemark,jdbcType=VARCHAR},
      </if>
      <if test="urlPath != null" >
        #{urlPath,jdbcType=VARCHAR},
      </if>
      <if test="fromCodeId != null" >
        #{fromCodeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corn.vsound.dao.entity.CodeOutSideUrl" >
    update code_out_side_url
    <set >
      <if test="urlId != null" >
        url_id = #{urlId,jdbcType=VARCHAR},
      </if>
      <if test="urlRemark != null" >
        url_remark = #{urlRemark,jdbcType=VARCHAR},
      </if>
      <if test="urlPath != null" >
        url_path = #{urlPath,jdbcType=VARCHAR},
      </if>
      <if test="fromCodeId != null" >
        from_code_id = #{fromCodeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corn.vsound.dao.entity.CodeOutSideUrl" >
    update code_out_side_url
    set url_id = #{urlId,jdbcType=VARCHAR},
      url_remark = #{urlRemark,jdbcType=VARCHAR},
      url_path = #{urlPath,jdbcType=VARCHAR},
      from_code_id = #{fromCodeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>