<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corn.vsound.dao.mapper.ProjectBaseMapper">
    <resultMap id="BaseResultMap" type="com.corn.vsound.dao.entity.ProjectBase">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_type" property="projectType" jdbcType="VARCHAR"/>
        <result column="use_position" property="usePosition" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="gather_class_count" property="gatherClassCount" jdbcType="INTEGER"/>
        <result column="gather_interface_count" property="gatherInterfaceCount" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, project_id, project_name, project_type, use_position, remark,
    gather_class_count, gather_interface_count
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from project_base
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from project_base
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.corn.vsound.dao.entity.ProjectBase">
    insert into project_base (project_id, project_name, project_type, use_position,
      remark, gather_class_count, gather_interface_count)
    values (#{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR},
     #{projectType,jdbcType=VARCHAR}, #{usePosition,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{gatherClassCount,jdbcType=INTEGER}, #{gatherInterfaceCount,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.corn.vsound.dao.entity.ProjectBase">
        insert into project_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="projectType != null">
                project_type,
            </if>
            <if test="usePosition != null">
                use_position,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="gatherClassCount != null">
                gather_class_count,
            </if>
            <if test="gatherInterfaceCount != null">
                gather_interface_count
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                #{projectType,jdbcType=VARCHAR},
            </if>
            <if test="usePosition != null">
                #{usePosition,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gatherClassCount != null">
                #{gatherClassCount,jdbcType=INTEGER},
            </if>
            <if test="gatherInterfaceCount != null">
                #{gatherInterfaceCount,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.corn.vsound.dao.entity.ProjectBase">
        update project_base
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectType != null">
                project_type = #{projectType,jdbcType=VARCHAR},
            </if>
            <if test="usePosition != null">
                use_position = #{usePosition,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="gatherClassCount != null">
                gather_class_count = #{gatherClassCount,jdbcType=INTEGER},
            </if>
            <if test="gatherInterfaceCount != null">
                gather_interface_count = #{gatherInterfaceCount,jdbcType=INTEGER}
            </if>
        </set>
        where project_id = #{projectId,jdbcType=VARCAHR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.corn.vsound.dao.entity.ProjectBase">
    update project_base
    set project_id = #{projectId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      use_position = #{usePosition,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gather_class_count = #{gatherClassCount,jdbcType=INTEGER},
      gather_interface_count = #{gatherInterfaceCount,jdbcType=INTEGER
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findProjectListByKeyWord" resultMap="BaseResultMap">
        select
        project_id ,
        project_name ,
        project_type ,
        use_position,
        remark remark,
        gather_class_count,
        gather_interface_count
        from
        project_base
        <where>
            <if test="keyWord != null and keyWord != ''">
                project_name like concat('%',#{keyWord},'%')
                or
                project_type like concat('%',#{keyWord},'%')
            </if>
        </where>
    </select>
</mapper>
