<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corn.vsound.dao.mapper.CodeBaseMapper" >
  <resultMap id="BaseResultMap" type="com.corn.vsound.dao.entity.CodeBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code_id" property="codeId" jdbcType="VARCHAR" />
    <result column="code_name" property="codeName" jdbcType="VARCHAR" />
    <result column="code_type" property="codeType" jdbcType="VARCHAR" />
    <result column="code_level" property="codeLevel" jdbcType="INTEGER" />
    <result column="code_program" property="codeProgram" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code_id, code_name, code_type, code_level, code_program, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from code_base
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from code_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corn.vsound.dao.entity.CodeBase" >
    insert into code_base (id, code_id, code_name, 
      code_type, code_level, code_program, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{codeId,jdbcType=VARCHAR}, #{codeName,jdbcType=VARCHAR}, 
      #{codeType,jdbcType=VARCHAR}, #{codeLevel,jdbcType=INTEGER}, #{codeProgram,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.corn.vsound.dao.entity.CodeBase" >
    insert into code_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="codeId != null" >
        code_id,
      </if>
      <if test="codeName != null" >
        code_name,
      </if>
      <if test="codeType != null" >
        code_type,
      </if>
      <if test="codeLevel != null" >
        code_level,
      </if>
      <if test="codeProgram != null" >
        code_program,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="codeId != null" >
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null" >
        #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeLevel != null" >
        #{codeLevel,jdbcType=INTEGER},
      </if>
      <if test="codeProgram != null" >
        #{codeProgram,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corn.vsound.dao.entity.CodeBase" >
    update code_base
    <set >
      <if test="codeId != null" >
        code_id = #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        code_name = #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null" >
        code_type = #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeLevel != null" >
        code_level = #{codeLevel,jdbcType=INTEGER},
      </if>
      <if test="codeProgram != null" >
        code_program = #{codeProgram,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corn.vsound.dao.entity.CodeBase" >
    update code_base
    set code_id = #{codeId,jdbcType=VARCHAR},
      code_name = #{codeName,jdbcType=VARCHAR},
      code_type = #{codeType,jdbcType=VARCHAR},
      code_level = #{codeLevel,jdbcType=INTEGER},
      code_program = #{codeProgram,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findCodeListByKeyWord" resultType="com.corn.vsound.dto.CodeDto">
    select
    cb.code_id codeId,
    cb.code_name codeName,
    cb.code_type codeType,
    cb.code_level codeLevel,
    cb.code_program codeProgram,
    ce.use_position usePosition,
    ce.code_remark codeRemark,
    ce.code_methods codeMethods,
    ce.code_parameters codeParameters,
    ce.code_images codeImages,
    ce.out_side_url outSideUrl
    from code_base cb
    left join code_extra ce
    on cb.code_id = ce.code_id
    <where>
      cb.code_program = #{programId}
      <if test="codeName != null and codeName != ''">
        and code_name like concat('%',#{codeName},'%')
      </if>
      <if test="codeType != null and codeType != ''">
        and code_type = #{codeType}
      </if>
      <if test="codeLevel != null and codeLevel != ''">
        and code_level = #{codeLevel}
      </if>
    </where>
  </select>
</mapper>